<h2 style="margin-bottom: 2rem">Welcome to Admin page</h2>
<div class="wrapper">
  <div>
    <div class="item-wrap">
      <label for="roleSelector">Choose role:</label>
      <select
        class="input-style"
        id="roleSelector"
        (change)="onRoleChange($event)"
      >
        <option [disabled]="true">Select role</option>
        <option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>

    <div *ngIf="selectedRole">
      <form
        (submit)="updateRoleSettings()"
        [formGroup]="roleForm"
        class="item-wrap"
      >
        <h2>Edit role</h2>
        <label style="margin-top: 1rem" for="roleName">Role name:</label>
        <input
          style="margin-bottom: 0.8rem"
          class="input-style"
          id="roleName"
          formControlName="role"
        />

        <label for="roleName">Permission (0 -15)</label>
        <input
          required
          type="number"
          min="0"
          max="15"
          class="input-style"
          formControlName="right"
        />

        <button [disabled]="!roleForm.valid" class="updateBtn" type="submit">
          Update
        </button>

        <p
          [ngClass]="animation ? 'hideItem' : ''"
          style="color: green; height: 1rem; margin-top: 1rem"
        >
          {{ msg }}
        </p>
      </form>

      <div style="margin-top: 1rem">
        <label style="font-weight: bold; display: flex; margin-bottom: 0.5rem"
          >Role rights:</label
        >

        <ul style="padding-left: 1rem">
          <li
            [ngClass]="{
              green: userPermissions['READ_COMMENTS'],
              red: !userPermissions['READ_COMMENTS']
            }"
          >
            Read Comments
          </li>
          <li
            [ngClass]="{
              green: userPermissions['ADD_DELETE_COMMENTS'],
              red: !userPermissions['ADD_DELETE_COMMENTS']
            }"
          >
            Add/Delete Comments
          </li>
          <li
            [ngClass]="{
              green: userPermissions['ADD_DELETE_TOPICS'],
              red: !userPermissions['ADD_DELETE_TOPICS']
            }"
          >
            Add/Delete Topics
          </li>
          <li
            [ngClass]="{
              green: userPermissions['DELETE_OTHERS_CONTENT'],
              red: !userPermissions['DELETE_OTHERS_CONTENT']
            }"
          >
            Delete Others' Comments/Topics   
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="right-side-items" *ngIf="selectedRole">
    <h2
      style="
        margin-bottom: 1rem;
        display: flex;
        font-weight: bold;
        font-size: 18px;
      "
    >
      Users with role: {{ selectedRole.name }}
    </h2>
    <div class="item-wrap">
      <label>Sort by or Drag and Drop</label>
      <select
        [(ngModel)]="sortValue"
        class="input-style"
        (change)="onSortChange($event)"
      >
        <option value="name">Name</option>
        <option value="id">ID</option>
      </select>
    </div>
    <div class="user-lists">
      <div class="user-list">
        <ul
          *ngIf="roleUsers.length; else noUsers"
          class="role-users"
          cdkDropList
          id="todo"
          [cdkDropListConnectedTo]="['done']"
          [cdkDropListData]="roleUsers"
          (cdkDropListDropped)="drop($event)"
        >
          <li *ngFor="let user of roleUsers" cdkDrag>
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.5 8C10.3284 8 11 7.32843 11 6.5C11 5.67157 10.3284 5 9.5 5C8.67157 5 8 5.67157 8 6.5C8 7.32843 8.67157 8 9.5 8ZM9.5 14C10.3284 14 11 13.3284 11 12.5C11 11.6716 10.3284 11 9.5 11C8.67157 11 8 11.6716 8 12.5C8 13.3284 8.67157 14 9.5 14ZM11 18.5C11 19.3284 10.3284 20 9.5 20C8.67157 20 8 19.3284 8 18.5C8 17.6716 8.67157 17 9.5 17C10.3284 17 11 17.6716 11 18.5ZM15.5 8C16.3284 8 17 7.32843 17 6.5C17 5.67157 16.3284 5 15.5 5C14.6716 5 14 5.67157 14 6.5C14 7.32843 14.6716 8 15.5 8ZM17 12.5C17 13.3284 16.3284 14 15.5 14C14.6716 14 14 13.3284 14 12.5C14 11.6716 14.6716 11 15.5 11C16.3284 11 17 11.6716 17 12.5ZM15.5 20C16.3284 20 17 19.3284 17 18.5C17 17.6716 16.3284 17 15.5 17C14.6716 17 14 17.6716 14 18.5C14 19.3284 14.6716 20 15.5 20Z"
                fill="#121923"
              />
            </svg>
            <div style="padding-left: 0.4rem">
              {{ user.name }} ({{ user.id }})
            </div>
          </li>
        </ul>
        <ng-template #noUsers>
          <div
            class="emptyBox"
            cdkDropList
            id="todo"
            [cdkDropListConnectedTo]="['done']"
            [cdkDropListData]="roleUsers"
            (cdkDropListDropped)="drop($event)"
          >
            Add role users here.
          </div>
        </ng-template>
      </div>
      <div class="user-list">
        <h4 style="margin-bottom: 0.5rem; font-size: 18px">Other users</h4>
        <ul
          *ngIf="otherUsers.length; else noOthers"
          class="role-users"
          cdkDropList
          id="done"
          [cdkDropListConnectedTo]="['todo']"
          [cdkDropListData]="otherUsers"
          (cdkDropListDropped)="dropOther($event)"
        >
          <li *ngFor="let user of otherUsers" cdkDrag>
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.5 8C10.3284 8 11 7.32843 11 6.5C11 5.67157 10.3284 5 9.5 5C8.67157 5 8 5.67157 8 6.5C8 7.32843 8.67157 8 9.5 8ZM9.5 14C10.3284 14 11 13.3284 11 12.5C11 11.6716 10.3284 11 9.5 11C8.67157 11 8 11.6716 8 12.5C8 13.3284 8.67157 14 9.5 14ZM11 18.5C11 19.3284 10.3284 20 9.5 20C8.67157 20 8 19.3284 8 18.5C8 17.6716 8.67157 17 9.5 17C10.3284 17 11 17.6716 11 18.5ZM15.5 8C16.3284 8 17 7.32843 17 6.5C17 5.67157 16.3284 5 15.5 5C14.6716 5 14 5.67157 14 6.5C14 7.32843 14.6716 8 15.5 8ZM17 12.5C17 13.3284 16.3284 14 15.5 14C14.6716 14 14 13.3284 14 12.5C14 11.6716 14.6716 11 15.5 11C16.3284 11 17 11.6716 17 12.5ZM15.5 20C16.3284 20 17 19.3284 17 18.5C17 17.6716 16.3284 17 15.5 17C14.6716 17 14 17.6716 14 18.5C14 19.3284 14.6716 20 15.5 20Z"
                fill="#121923"
              />
            </svg>
            <div style="padding-left: 0.4rem">
              {{ user.name }} ({{ user.id }})
            </div>
          </li>
        </ul>
        <ng-template #noOthers>
          <div
            class="emptyBox"
            cdkDropList
            id="done"
            [cdkDropListConnectedTo]="['todo']"
            [cdkDropListData]="otherUsers"
            (cdkDropListDropped)="dropOther($event)"
          >
            Add role users here.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<button class="backBtn" routerLink="/home">Back</button>
