<div class="main-wrap user-wrapper">
  <h2 class="homepage-text">HOMEPAGE</h2>

  <h1 style="margin: 16px 0" class="wellcome-text">
    Welcome
    <span style="color: whitesmoke; text-shadow: 2px 0 black">{{
      user.name
    }}</span>
  </h1>

  <h2 class="topics-text">TOPICS</h2>
  <br />
  <div
    style="margin-bottom: 1rem; cursor: pointer"
    *ngFor="let topic of topics"
    class="topic-wrap"
    (click)="toggleTopic(topic)"
  >
    <div
      class="topic"
      [style.background]="topic.toggle ? 'white' : ''"
      [style.color]="topic.toggle ? 'black' : ''"
    >
      <div class="topic-content">
        <div class="header">
          <h2>{{ topic.title }}</h2>
          <div>
            <label style="margin-right: 2rem"
              >Author: {{ topic.author?.name }}</label
            >
            <span
              style="font-size: 30px; font-weight: 500; color: red"
              (click)="$event.stopPropagation(); deleteTopic(topic)"
              >&times;</span
            >
          </div>
        </div>
        <p>{{ topic?.body }}</p>
      </div>
    </div>
    <div
      class="comments"
      (click)="$event.stopPropagation()"
      *ngIf="topic?.toggle"
    >
      <input
        style="
          width: -webkit-fill-available;
          height: 2.5rem;
          margin-top: 1rem;
          padding-left: 1rem;
          outline: none;
          border: 0;
          border: 1px solid silver;
          border-radius: 6px;
        "
        type="text"
        placeholder="Add comment"
        [(ngModel)]="topic.comment"
        (keyup.enter)="addComment($event, topic)"
      />
      <app-tree-view [topic]="topic"></app-tree-view>
    </div>
  </div>

  <div class="add-new-topic">
    <form
      (submit)="addTopic()"
      [formGroup]="topicForm"
      style="display: flex; flex-direction: column"
    >
      <label
        style="
          margin-bottom: 0.5rem;
          color: whitesmoke;
          text-shadow: 1px 0 black;
        "
        >Title</label
      >
      <input
        placeholder="Enter topic name"
        formControlName="name"
        style="
          height: 2rem;
          margin-bottom: 1rem;
          padding-left: 1rem;
          border: 1px solid silver;
          border-radius: 6px;
          outline: none;
        "
        type="text"
      />
      <label
        style="
          margin-bottom: 0.5rem;
          color: whitesmoke;
          text-shadow: 1px 0 black;
        "
        >Description</label
      >
      <textarea
        style="
          padding-left: 1rem;
          padding-top: 1rem;
          border: 1px solid silver;
          border-radius: 6px;
          outline: none;
        "
        placeholder="Enter description..."
        formControlName="description"
        cols="30"
        rows="10"
      ></textarea>

      <button [disabled]="!topicForm.valid" class="newtopicBtn">
        <h3>ADD NEW TOPIC</h3>
      </button>
    </form>
      
  </div>
</div>
