.topic {
  border: 1px solid silver;
  padding: 1rem;
  border-radius: 6px;
  color: whitesmoke;
  text-shadow: 1px 0 black;
  &:hover {
    transition: 0.5s ease;
    background-color: white;
    color: black;
    text-shadow: 0px;
  }
  h2 {
    margin: 0;
    padding: 0;
  }

  .topic-content {
    .header {
      display: flex;
      justify-content: space-between;
    }
  }
}
.user-wrapper {
  padding: 10px;
  background: rgb(116 116 116 / 61%);
  border-radius: 10px;
  .wellcome-text {
    color: black;
  }
  .topics-text {
    color: whitesmoke;
    text-shadow: 2px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.profile-user {
  right: 2rem;
  top: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: sienna;
  color: white;
  outline: none;
  border: 0;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 2.5rem;
  text-shadow: 2px 0 black;
}

.comments {
  padding: 0 32px;
  background: white;
  border-radius: 6px;
  margin: 16px 0;
  padding-bottom: 16px;
}

.newtopicBtn {
  height: 2.5rem;
  margin: 2rem 0;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: 1px solid silver;
  background: white;
  color: black;
  &:disabled {
    opacity: 0.5;
    cursor: unset;
  }
  &:hover {
    transform: scale(1.01);
  }
}
