.has-permission {
  color: green;
}
.no-permission {
  color: red;
}

.green {
  color: green;
}

.red {
  color: red;
}

.form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  input {
    height: 2rem;
    width: 20%;
  }
}

.hideItem {
  animation: 2s cssAnimation forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input {
  padding-left: 0.5rem;
}

.wrapper {
  padding: 10px;
  background: rgb(116 116 116 / 61%);
  border-radius: 10px;
}

.font-style {
  color: whitesmoke;
  text-shadow: 1px 0 black;
}

li {
  font-weight: 700;
}
