.has-permission {
  color: green;
}
.no-permission {
  color: red;
}

.green {
  color: green;
}

.red {
  color: red;
}

.form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  input {
    height: 2rem;
    width: 20%;
  }
}

.hideItem {
  animation: 2s cssAnimation forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input {
  padding-left: 0.5rem;
}

.backBtn {
  position: fixed;
  top: 32px;
  right: 32px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 0;
  border: 1px solid silver;
  cursor: pointer;
  text-decoration: none;
}
